<div class="container-fluid">
  <h1>Rentals</h1>
  <div class="jumbotron">
    <p>
      <%= link_to "Create Rental", new_rental_path %>
    </p>
  </div>
<div class="col-md-7">
  <table class="table table-striped">
    <thread>
      <tr>
        <th>name</th>
        <th>id</th>
        <th>daily_rate</th>
        <th>Action</th>
      </tr>
    </thread>
    <tbody>
    <% @rentals.each do |rent| %>
        <tr>
          <td><%= rent.name %></td>
          <td><%= rent.id %></td>
          <td><%= rent.daily_rate %></td>
          <td>
            <%= link_to "Book", new_booking_path(rental_id: rent.id, daily_rate: rent.daily_rate, rental_name: rent.name) , class: "btn btn-success btn-xs", remote: true %>
            <%= link_to "Show", rental_url(rent), class: "btn btn-default btn-xs" %>
            <%= link_to "Edit", edit_rental_path(rent), class: "btn btn-primary btn-xs" %>
            <%= link_to "Delete", rental_path(rent), method: :delete, class: "btn btn-danger btn-xs" %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
  <div class="col-md-5">
      <div id="content-placeholder">

      </div>
  </div>


</div>