<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "booking app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>DEBUG</li>
        <li><%= link_to "RENTALS",  rentals_path %></li>
        <li><%= link_to "BOOKINGS", bookings_path %></li>
        <li><%= link_to "Home",     root_path %></li>
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "Login",    '#' %></li>
      </ul>
    </nav>
  </div>
</header>